@model HumanResource
@{
    ViewData["Title"] = "Sunting Maklumat Ahli";
}

<form method="post" asp-action="Update" enctype="multipart/form-data">
    <input type="hidden" asp-for="positionId" />
    <div class="form-group">
        <label asp-for="positionTitle">Jawatan</label>
        <input asp-for="positionTitle" class="form-control" placeholder="Isi jawatan ahli">
        <span asp-validation-for="positionTitle" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="positionDescription">Penerangan Jawatan</label>
        <input asp-for="positionDescription" class="form-control" placeholder="Isi penerangan jawatan ahli">
        <span asp-validation-for="positionDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="staffName">Nama Ahli</label>
        <input asp-for="staffName" class="form-control" placeholder="Isi nama ahli">
        <span asp-validation-for="staffName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="staffContact">Nombor Telefon Ahli</label>
        <input asp-for="staffContact" class="form-control" placeholder="Isi nombor telefon ahli">
        <span asp-validation-for="staffContact" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="updatedStaffImage" class="control-label">Gambar Ahli</label>
        <div class="custom-file">
            <input asp-for="updatedStaffImage" type="file" class="custom-file-input" accept=".png, .jpg, .jpeg" id="updatedStaffImage" onchange="document.getElementById('StaffImage').src = window.URL.createObjectURL(this.files[0]">
            <label class="custom-file-label" for="updatedStaffImage"></label>
        </div>
        <span asp-validation-for="updatedStaffImage" class="text-danger"></span>
    </div>
    <br />
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal">Sunting</button>

    <!-- Modal for confirmation -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Sahkan Perubahan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Anda akan menyunting perincian staff. Adakah anda pasti?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-primary">Sahkan</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    })
</script>