@model Service
@{
    ViewData["Title"] = "Tambah Servis";
    Layout = "../Shared/_LayoutAdmin.cshtml";
}

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="serviceName">Nama Servis</label>
        <input asp-for="serviceName" class="form-control" placeholder="Isi nama servis" required autofocus>
        <span asp-validation-for="serviceName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="serviceDescription">Deskripsi Servis</label>
        <input asp-for="serviceDescription" class="form-control" placeholder="Isi deskripsi servis" required autofocus>
        <span asp-validation-for="serviceDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="servicePrice">Harga Servis</label>
        <input asp-for="servicePrice" class="form-control" placeholder="Isi harga servis" required autofocus>
        <span asp-validation-for="servicePrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="serviceEquipments">Peralatan Servis</label>
        <input asp-for="serviceEquipments" class="form-control" placeholder="Isi peralatan servis" required autofocus>
        <span asp-validation-for="serviceEquipments" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="serviceCategory">Kategori Servis</label>
        <select asp-for="serviceCategory" class="form-control" placeholder="Isi kategori servis" required autofocus>
            <option>Sewaan</option>
            <option>Sosial</option>
            <option>Kelas</option>
        </select>
        <span asp-validation-for="serviceCategory" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="serviceAttachment" class="control-label">Gambar Servis</label>
        <div class="custom-file">
            <input asp-for="serviceAttachment" type="file" class="custom-file-input" accept=".png, .jpg, .jpeg" id="serviceAttachment" onchange="document.getElementById('ServiceImage').src = window.URL.createObjectURL(this.files[0]" required autofocus>
        </div>
        <span asp-validation-for="serviceAttachment" class="text-danger"></span>
    </div>
   <br />
   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal">Tambah</button>


    <!-- Modal for confirmation -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Sahkan Pembayaran</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Anda akan melakukan penambahan. Adakah anda pasti dengan segala perincian?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-primary">Tambah</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    })
</script>