@{
    ViewData["Title"] = "Tabung Masjid";
}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Tabung Masjid</h1>
            <p class="lead text-body-secondary">Infaq harta anda hari ini!</p>
        </div>
    </div>
</section>

<div class="mb-4">
    <div class="card p-4">
        <figure class="p-3 mb-0">
            <blockquote class="blockquote" style="text-align:center;">
                <p>Apabila meninggalnya manusia itu, terputuslah segala amalannya melainkan tiga perkara iaitu sedekah jariah, ilmu yang bermanfaat atau anak soleh yang mendoakannya.</p>
            </blockquote>
            <figcaption class="blockquote-footer mb-0 text-body-secondary" style="text-align:center;">
                Hadith Riwayat <cite title="Source Title">Muslim</cite>
            </figcaption>
        </figure>
    </div>
</div>
<div class="row mb-3 text-center">
    <div class="col-sm-6 col-lg-4 mb-4">
        <div class="card">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96" /><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
            <div class="card-body">
                <h5 class="card-title mb-4" style="text-align:center;">Tabung Masjid Ar-Rahman Taman Putri</h5>
                <p class="card-text mb-0" style="text-align:center;">01020004012716</p>
                <p class="card-text mt-0" style="text-align:center;">-Bank Muamalat-</p>
                <p class="card-text" style="text-align:center;"><small class="text-body-secondary">Reference:Sedekah MARTP</small></p>
            </div>
        </div>
    </div>
    <div class="col-sm-8 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-4" style="text-align:center;">Ayuh Sedekah!</h5>
            </div>
        </div>
    </div>
</div>