@model Payment
@{
    ViewData["Title"] = "Tabung Masjid";
    Rental rental = ViewData["Rental"] as Rental;
    User user = ViewData["User"] as User;
}

<div class="row mb-3 text-center">
    <div class="col-sm-8 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-4" style="text-align:center;">Pembayaran Perkhidmatan</h5>
                <div style="text-align:justify;">
                    <form method="post" asp-action="RentalServicePay" enctype="multipart/form-data">
                        <input type="hidden" asp-for="rentalId" value="@rental.rentalId" />
                        <input type="hidden" asp-for="paymentId" />
                        <div class="form-group">
                            <label asp-for="paymentName">Nama</label>
                            <input asp-for="paymentName" class="form-control" placeholder="Isi nama anda" value=@user.name required autofocus>
                            <span asp-validation-for="paymentName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="paymentEmail">Email</label>
                            <input asp-for="paymentEmail" class="form-control" placeholder="Isi email anda" value=@user.email required autofocus>
                            <span asp-validation-for="paymentEmail" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="paymentContact">Nombor Telefon</label>
                            <input asp-for="paymentContact" id="inputPaymentContact" class="form-control" placeholder="Isi nombor telefon anda" value=@user.phone required autofocus>
                            <span asp-validation-for="paymentContact" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="paymentAmount">Jumlah Bayaran</label>
                            <input asp-for="paymentAmount" type="number" class="form-control" placeholder="Isi jumlah bayaran anda" required autofocus>
                            <span asp-validation-for="paymentAmount" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="paymentPurpose">Tujuan Bayaran</label>
                            <input asp-for="paymentPurpose" class="form-control" placeholder="Isi tujuan pembayaran anda" required autofocus>
                            <span asp-validation-for="paymentPurpose" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="paymentMethod">Pilih kaedah pembayaran:</label>
                            <select name="paymentMethod" id="paymentMethod" class="form-control" required autofocus>
                                <option value="" disabled selected hidden>Pilih kaedah pembayaran</option>
                                <option value="DuitNowQRPay">DuitNow QR Pay</option>
                                <option value="BankTransfer">Bank Transfer</option>
                                <option value="CardPayment">Kad Kredit/Debit</option>
                            </select>
                        </div>
                        <br />
                        <hr />
                        <br />
                        <div id="duitNowQRPayDetails" style="display: none;">
                            <!-- DuitNow QR Pay form fields -->
                            <div id="qrCodeContainer">
                                <img src="https://donate.sols247.org/wp-content/uploads/2022/01/duitnow-qr-code-sols247.png" alt="DuitNow QR Code" width="250" height="250" style="border:2px solid black">
                            </div>
                            <div class="form-group">
                                <label asp-for="paymentAttachment" class="control-label">Lampiran</label>
                                <div class="custom-file">
                                    <input asp-for="paymentAttachment" type="file" class="custom-file-input" accept=".pdf" id="paymentAttachment" onchange="document.getElementById('PaymentAttachment').src = window.URL.createObjectURL(this.files[0]">
                                    <label class="custom-file-label" for="paymentAttachment"></label>
                                </div>
                                <span asp-validation-for="paymentAttachment" class="text-danger"></span>
                            </div>
                        </div>
                        <div id="bankTransferDetails" style="display: none;">
                            <!-- Bank Transfer form fields -->
                            <div class="form-group">
                                <label for="paymentBank">Pilih bank:</label>
                                <select name="paymentBank" id="paymentBank" class="form-control">
                                    <option value="" disabled selected hidden>Pilih bank</option>
                                    <option value="Bank Muamalat (M) Berhad">Bank Muamalat (M) Berhad</option>
                                    <option value="Malayan Banking Berhad (Maybank)">Malayan Banking Berhad (Maybank)</option>
                                    <option value="Bank Simpanan Nasional">Bank Simpanan Nasional</option>
                                    <option value="Affin Bank Berhad">Affin Bank Berhad</option>
                                    <option value="CIMB Bank Berhad">CIMB Bank Berhad</option>
                                    <option value="Bank Islam Malaysia Berhad">Bank Islam Malaysia Berhad</option>
                                    <option value="Public Bank Berhad">Public Bank Berhad</option>
                                    <option value="Alliance Bank Berhad">Alliance Bank Berhad</option>
                                    <option value="RHB Bank Berhad">RHB Bank Berhad</option>
                                    <option value="HSBC Bank Malaysia Berhad">HSBC Bank Malaysia Berhad</option>
                                    <option value="Bank Kerjasama Rakyat (Malaysia) Berhad">Bank Kerjasama Rakyat (Malaysia) Berhad</option>
                                    <option value="Hong Leong Bank Berhad">Hong Leong Bank Berhad</option>
                                    <option value="Agro Bank Berhad">Agro Bank Berhad</option>
                                </select>
                            </div>
                        </div>
                        <div id="cardPaymentDetails" style="display: none;">
                            <!-- Card Payment form fields -->
                            <div class="form-group">
                                <label asp-for="paymentCardNumber">Nombor Kad Kredit/Debit</label>
                                <input asp-for="paymentCardNumber" id="inputCard" class="form-control" placeholder="Isi nombor kad kredit/debit anda">
                                <span asp-validation-for="paymentCardNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="paymentCardCVC">CVC</label>
                                <input asp-for="paymentCardCVC" id="inputCVC" class="form-control" placeholder="CVC">
                                <span asp-validation-for="paymentCardCVC" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="paymentCardExpireMonth">Bulan Tamat Tempoh Kad</label>
                                <input asp-for="paymentCardExpireMonth" type="number" class="form-control" placeholder="Bulan" min="1" max="12">
                                <span asp-validation-for="paymentCardExpireMonth" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="paymentCardExpireYear">Tahun Tamat Tempoh Kad</label>
                                <input asp-for="paymentCardExpireYear" class="form-control" placeholder="Tahun" type="number" min="@DateTime.Now.Year">
                                <span asp-validation-for="paymentCardExpireYear" class="text-danger"></span>
                            </div>

                        </div>
                        <br />
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal" id="paymentButton">Bayar</button>

                        
                        <!-- Modal for confirmation -->
                            <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmModalLabel">Sahkan Pembayaran</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Anda akan melakukan pembayaran. Adakah anda pasti dengan segala perincian?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                                         <button type="submit" class="btn btn-primary">Bayar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <script>
                        var paymentMethodSelect = document.getElementById("paymentMethod");
                        var duitNowQRPayDetails = document.getElementById("duitNowQRPayDetails");
                        var bankTransferDetails = document.getElementById("bankTransferDetails");
                        var cardPaymentDetails = document.getElementById("cardPaymentDetails");

                        paymentMethodSelect.addEventListener("change", function() {
                            var selectedValue = paymentMethodSelect.value;

                            // Reset all form details to hidden
                            duitNowQRPayDetails.style.display = "none";
                            bankTransferDetails.style.display = "none";
                            cardPaymentDetails.style.display = "none";

                            // Display the relevant form details based on the selected payment method
                            if (selectedValue === "DuitNowQRPay") {
                                duitNowQRPayDetails.style.display = "block";
                            } else if (selectedValue === "BankTransfer") {
                                bankTransferDetails.style.display = "block";
                            } else if (selectedValue === "CardPayment") {
                                cardPaymentDetails.style.display = "block";
                            }
                        });
                    </script>


                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Restrict input field to accept only numeric values and limit to 11 digits
    var phoneInput = document.getElementById("inputPaymentContact");
    phoneInput.addEventListener("input", function () {
        this.value = this.value.replace(/\D/g, "").slice(0, 11);
    });
</script>
<script>
    var phoneInput = document.getElementById("inputCard");
    phoneInput.addEventListener("input", function () {
        this.value = this.value.replace(/\D/g, "").slice(0, 16);
    });
</script>
<script>
    var phoneInput = document.getElementById("inputCVC");
    phoneInput.addEventListener("input", function () {
        this.value = this.value.replace(/\D/g, "").slice(0, 3);
    });
</script>
<script type="text/javascript">
    var maxYear = new Date().getFullYear() + 4;
    var cardExpireYearInput = document.getElementById("paymentCardExpireYear");

    cardExpireYearInput.addEventListener("input", function () {
        if (this.value > maxYear) {
            this.value = maxYear;
        }
    });
</script>