@model User
@{
    ViewData["Title"] = "Log Masuk";
    Layout = "../Shared/_LayoutLogin.cshtml";
}

<form class="form-signin" method="post" asp-action="Login">
    <h1 class="h3 mb-3 font-weight-normal text-center">Sila Log Masuk</h1>
    <label asp-for="email" class="sr-only">Email</label>
    <input asp-for="email" type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    <span asp-validation-for="email" class="text-danger"></span>
    <label asp-for="password" class="sr-only">Kata Laluan</label>
    <input asp-for="password" type="password" id="inputPassword" class="form-control" placeholder="Kata Laluan" required>
    <span asp-validation-for="password" class="text-danger"></span>
    <br />
    <div class="text-center">
        <div class="checkbox mb-3">
            <label>
                <a href="@Url.Action("Register", "Home")">Daftar</a>
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log Masuk</button>
    </div>

    <p class="mt-5 mb-3 text-muted">&copy; 2023 - MosqueManagement</p>
</form>
