@model Market
@{
    ViewData["Title"] = "Tambah Perniagaan";
}

<form method="post" asp-action="Create">
    <div class="form-group">
        <label asp-for="marketName">Nama Perniagaan</label>
        <input asp-for="marketName" class="form-control" placeholder="Isi nama perniagaan">
        <span asp-validation-for="marketName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="marketDescription">Penerangan Perniagaan</label>
        <input asp-for="marketDescription" class="form-control" placeholder="Isi penerangan perniagaan">
        <span asp-validation-for="marketDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="marketContact">Nombor Telefon Perniagaan</label>
        <input asp-for="marketContact" class="form-control" placeholder="Isi nombor telefon perniagaan">
        <span asp-validation-for="marketContact" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="marketAttachment">Pautan Gambar Perniagaan</label>
        <input asp-for="marketAttachment" class="form-control" placeholder="Isi pautan gambar perniagaan">
        <span asp-validation-for="marketAttachment" class="text-danger"></span>
    </div>
   <br />
    <button type="submit" class="btn btn-primary">Tambah</button>
</form>