@model Market
@{
}

<form method="post" asp-action="Update" enctype="multipart/form-data">
    <input type="hidden" asp-for="marketId" />

    <div class="form-group">
        <label asp-for="marketName">Nama Perniagaan</label>
        <input asp-for="marketName" class="form-control" placeholder="Isi nama perniagaan">
        <span asp-validation-for="marketName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="marketDescription">Penerangan Perniagaan</label>
        <input asp-for="marketDescription" class="form-control" placeholder="Isi penerangan perniagaan ahli">
        <span asp-validation-for="marketDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="marketContact">Nombor Telefon Perniagaan</label>
        <input asp-for="marketContact" class="form-control" placeholder="Isi nombor telefon perniagaan">
        <span asp-validation-for="marketContact" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="marketAttachment">Pautan Gambar Perniagaan</label>
        <input asp-for="marketAttachment" class="form-control" placeholder="Isi pautan gambar perniagaan">
        <span asp-validation-for="marketAttachment" class="text-danger"></span>
    </div>
    <br />
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal">Sunting</button>

    <!-- Modal for confirmation -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Sahkan Perubahan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Anda akan menyunting perincian perniagaan. Adakah anda pasti?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-primary">Sahkan</button>
                </div>
            </div>
        </div>
    </div>
</form>
